.container {
  padding-top: 1rem;
}

.outerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #ffcc00;
  padding-bottom: 0.5rem;
}
.outerTitle h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}

.main {
  padding: 1rem;
  background-color: #2f2f2f;
}
.main p {
  font-size: 10px;
  margin: 0;
  color: #ffffff;
}

.checkout {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formWrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.note {
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-column: span 2;
  }
}
